<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train schedule</title>
</head>
<body>
    <form action="">
        <label>Select train</label>
        <select name="" id="" onchange="displayschedule()">
            
        </select>
    </form>
    <br> <hr>
    <table>
        <thead>
            <th>Station</th>
            <th>Arrival</th>
            <th>Departure</th>
            <th>Distance</th>
        </thead>
        <tbody>

        </tbody>
    </table>
</body>
<style>
    td {
        border: solid 2px lightgrey;
    }
</style>
<script src="/trainschedule.js"></script>
</html>